@import "compass/reset";
@import "compass/css3";
@import url('font-awesome.min.css');

//some basic styles
body {
  text-align: center;
  font: 1em/1.6 Raleway, serif;
  color: #333;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.25em;
  padding: 0 1em;
}

a {
  text-decoration: none;
}

img {
  max-width:100%;
  height: auto;
}

//header
.header {
  padding: 2em 0 10em;

  h1 {
    font-style: italic;
  }
}

.flexbox-container {
  @include display-flex;
  @include flex-direction: row;
}

.row {
  @include flex-direction(row);
  }

.avatar {
  @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
  @include border-radius(100%);
  width: 30%;
  height: auto;
}

//content
.loading-gif {
  width:5%;
  height: auto;
  @include border-radius(100%);
}

//Style project viewer
.carousel {
  position: relative;
}

.shots-container {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 1em 0;
}

.shots {
    overflow: hidden;
    margin: 0;
    padding: 0 2%;
    /*
     * Shot width = 400px + 20px margin + 20px padding + 2px border
     * 442 * 10 (# of shots)
     */
    //width: 4420px; if we had 10
    width: 2210px; //because we have 5
    min-height: 300px;

    @media screen and (max-width: 450px) {
        /*
         * Shot width = 300px + 20px margin + 20px padding + 2px border
         * 342 * 10 (# of shots)
         */
        width: 3420px; /* 340 * 10 */
        min-height: 250px;
    }

    li {
        float: left;
        width: 400px;
        height: 300px;
        margin: 0 10px;
        padding: 10px;
        background: #fff url(images/loading.gif) 100px 50% no-repeat;
        border: 1px solid #ddd;
        @include border-radius(3px);

        @media screen and (max-width: 450px) {
            width: 300px;
            height: 225px;
        }
    }
}

.mask {
    position: absolute;
    top:0;
    width: 4%;
    height: 100%;
}
.mask-left {
    left: 0;
    @include background( linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0)) );
}
.mask-right {
    right: 0;
    @include background( linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1)) );
}


// footer section. Where we added social media
.footer {
    p {
        color: #777;
        padding: 0 1em;
    }
}


//style three sections to be distinct
.header,
.footer {
    background: #f7f7f7;
}

.content,
.footer {
    padding: 4em 0 6em;
}

.content {

    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

    h1 {
        color: black; // dribbble brand color
    }

    > p {
        font-size: .85em;
        color: black;
    }
}


// Social media icons/buttons. In footer
.social {
    margin:2em 0;
    font-family: Helvetica, Arial, sans-serif;

    li {
        position: relative;
        @include inline-block();
        margin: .5em;
        @include transition(all .15s ease);

        &:hover {
            @include scale(1.25);
            //color: pink;
            .fa-github {color: #6cc644}
            .fa-twitter {color: #00a0d1}
            .fa-linkedin {color: #0077b5}
            .fa-google-plus {color: #dd4b39}
        }

        &:before {
            position: absolute;
            width: 2em; /* center align technique, give width, negative half margin */
            margin-left: -1em;
            top: 1.5em;
            left: 50%;
        }

        a {
            display: block;
            color: inherit;
            padding: 0;
            width: 6em;
            // allow truncation if needed
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
